<div class="dashboard">
    <!-- Sidebar -->
    <aside class="sidebar">
        <h2 class="logo">Mi Dashboard</h2>
        <nav>
            <ul>
                <li>
                    <a routerLink="dota-items" routerLinkActive="active">🎮 Usuario</a>
                </li>
                <li>
                    <a (click)="logout()">🚪 Cerrar sesión</a>
                </li>
            </ul>
        </nav>
    </aside>

    <!-- Main -->
    <div class="main">
        <!-- Header -->
        <header class="header">
            <h1>Panel de Control</h1>

            <!-- Botones de la derecha -->
            <div class="header-buttons">
                <button class="btn login-btn" (click)="goToLogin()">Iniciar sesión</button>
                <button class="btn register-btn" (click)="goToRegister()">Registrarse</button>
            </div>
        </header>

        <!-- Content -->
        <section class="content">
            <router-outlet></router-outlet>
        </section>
    </div>
</div>