<div class="dashboard">
    <!-- Sidebar -->
    <aside class="sidebar">
        <h2 class="logo">Mi Dashboard</h2>
        <nav>
            <ul>
                <li>
                    <a routerLink="recargas" routerLinkActive="active">
                        💳 Recargas
                    </a>
                </li>
                <li>
                    <a routerLink="dota-items" routerLinkActive="active">🎮 Usuario</a>
                </li>
                <li>
                    <a (click)="logout()">🚪 Cerrar sesión</a>
                </li>
            </ul>
        </nav>
    </aside>

    <!-- Main -->
    <div class="main">
        <!-- Header -->

        <app-header></app-header>

        <!-- Content -->
        <section class="content">
            <router-outlet></router-outlet>
        </section>
    </div>
</div>