<header class="app-header">
    <div class="logo">
        <a routerLink="/pagina-principal">⚡ Dota2 Marketplace</a>
    </div>

    <nav class="nav-links">
        <!-- Si NO está logeado -->
        <ng-container *ngIf="!isLoggedIn; else loggedMenu">
            <button class="btn login-btn" routerLink="/login">Iniciar sesión</button>
            <button class="btn register-btn" [routerLink]="['/login']" [queryParams]="{ register: true }">
                Registrarse
            </button>
        </ng-container>

        <!-- Si está logeado -->
        <ng-template #loggedMenu>
            <ul class="menu">
                <!-- Visible solo para Customers -->

                <li *ngIf="roles.includes('Customer')">
                    <a routerLink="/wallet-history">📜 Historial recargas</a>
                </li>

                <li *ngIf="roles.includes('Customer')">
                    <a routerLink="/profile">👤 Perfil</a>
                </li>

                <li *ngIf="roles.includes('Customer')">
                    <a routerLink="/pending-sales">📦 Ventas Pendientes</a>
                </li>

                <li *ngIf="roles.includes('Customer')">
                    <a routerLink="/order-history">📜 Historial Compras/Ventas</a>
                </li>




                <li *ngIf="roles.includes('Customer')">
                    <a routerLink="/dota-items">🎮 Avatars</a>
                </li>



                <!-- Visible solo para Admins -->
                <li *ngIf="roles.includes('Admin')">
                    <a routerLink="/dashboard">📊 Dashboard</a>
                </li>

                <!-- Siempre visible si está logeado -->
                <li>
                    <a (click)="logout()">🚪 Logout</a>
                </li>
                <!-- <li *ngIf="roles.includes('Customer')" class="wallet-balance">
                    💰 <strong>S/ {{ balance | number:'1.2-2' }}</strong>
                </li> -->
                <li *ngIf="roles.includes('Customer')" class="wallet-info">
                    <span class="balance">
                        💰 {{ balance | number:'1.2-2' }}
                    </span>

                    <button class="btn-topup" routerLink="/topup">
                        ➕ Recargar
                    </button>
                </li>

            </ul>
        </ng-template>
    </nav>
</header>