<section class="hero">
    <!-- <video class="hero-video" autoplay muted loop playsinline preload="metadata">
        <source src="assets/videos/hero.mp4" type="video/mp4" />
        Tu navegador no soporta video HTML5.
    </video> -->
    <video #videoRef class="hero-video" autoplay muted loop playsinline preload="metadata">
        <source src="/hero.mp4" type="video/mp4" />
        Tu navegador no soporta video HTML5.
    </video>

    <div class="hero-overlay">
        <h1 class="glow-text">El Mercado P2P más confiable 🚀</h1>
        <p>Compra and vende ítems de Dota 2, CS2 y TF2 con total seguridad y rapidez.</p>

        <div class="hero-actions">
            <ng-container *ngIf="isLoggedIn$ | async; else loginBtn">
                <a routerLink="/dota-items" class="btn primary">Ir al Inventario</a>
            </ng-container>
            <ng-template #loginBtn>
                <a routerLink="/login" class="btn primary">Empezar</a>
            </ng-template>
            <a routerLink="/marketplace" class="btn outline">Explorar</a>
        </div>
    </div>
</section>